html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Monument Extended";
  background: #e3e3e3;
}

h1 {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #101010;
}

body {
  margin: 0px;
  padding: 0px;
}

.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;

  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 3px;
  overflow: hidden;
  background: #000000;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: rgb(253, 3, 3);
}

.pace.pace-inactive {
  display: none;
}

#preloader {
  width: 100%;
  height: 100vh;
  background: #000000;
  overflow: hidden;
  position: fixed;
  /* transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); */
}

.p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

#logo path:nth-child(2) {
  stroke-dasharray: 465;
  stroke-dashoffset: 465;
  animation: line-ani 2.2s ease forwards;
}
#logo path:nth-child(3) {
  stroke-dasharray: 227;
  stroke-dashoffset: 227;
  animation: line-ani 2.3s ease forwards;
}
#logo path:nth-child(4) {
  stroke-dasharray: 190;
  stroke-dashoffset: 190;
  animation: line-ani 2.4s ease forwards;
}
#logo path:nth-child(5) {
  stroke-dasharray: 148;
  stroke-dashoffset: 148;
  animation: line-ani 2.5s ease forwards;
}
#logo path:nth-child(6) {
  stroke-dasharray: 164;
  stroke-dashoffset: 164;
  animation: line-ani 0.6s ease forwards;
}
#logo path:nth-child(7) {
  stroke-dasharray: 238;
  stroke-dashoffset: 238;
  animation: line-ani 0.7s ease forwards;
}
#logo path:nth-child(8) {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  animation: line-ani 0.8s ease forwards;
}
#logo path:nth-child(9) {
  stroke-dasharray: 205;
  stroke-dashoffset: 205;
  animation: line-ani 0.9s ease forwards;
}
#logo path:nth-child(10) {
  stroke-dasharray: 227;
  stroke-dashoffset: 227;
  animation: line-ani 1s ease forwards;
}
#logo path:nth-child(11) {
  stroke-dasharray: 137;
  stroke-dashoffset: 137;
  animation: line-ani 1.5s ease forwards;
}
#logo path:nth-child(12) {
  stroke-dasharray: 148;
  stroke-dashoffset: 148;
  animation: line-ani 1.7s ease forwards;
}
#logo path:nth-child(13) {
  stroke-dasharray: 199;
  stroke-dashoffset: 199;
  animation: line-ani 1.8s ease forwards;
}
#logo path:nth-child(14) {
  stroke-dasharray: 243;
  stroke-dashoffset: 243;
  animation: line-ani 2s ease forwards;
}
@keyframes line-ani {
  to {
    stroke-dashoffset: 0;
  }
}
.preloader-div {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: white;
}
